<div class ="container">
    <form class="card p-3 mt-5 mb-5">
        <h2 class="text-center">List Message</h2>
        <table class="table table-bordered">
            <thead>
              <tr class="head-table">
                <th class="text-white" scope="col">No</th>
                <th class="text-white" scope="col">Name</th>
                <th class="text-white" scope="col">Message</th>
                <th class="text-white" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let message of listMessage; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{message.name}}</td>
                <td>{{message.message}}</td>
                <td>
                    <button type="button" class ="btn btn-sm btn-succrs text-white" (click)="sendMessage(i)">Send</button>
                </td>
              </tr>
            </tbody>
          </table>
    </form>
</div>
