
.btn {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(183, 170, 204) 90%);
}

.head-table {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(183, 170, 204) 90%);
}

.table {
    border-color:#7a1b92;
    border-style: groove;
    border-width: 5px;
    }
    