.card {
    background-color: aliceblue;
}

.btn {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(183, 170, 204) 90%);;
}

.text-white {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(183, 170, 204) 90%);
}