<div class="container">
    <form [formGroup]="formCount" class="row mt-5">
        <div class="col">
            <label class="form-label">Minimal Pengurangan</label>
            <input formControlName="minimal" type="number" placeholder="Pengurangan" class="form-control">
        </div>
        <div class="col">
            <label class="form-label">Maksimal Penjumlahan</label>
            <input formControlName="maksimal" type="number" placeholder="Penjumlahan" class="form-control">
        </div>
    </form>
    <div class="card rounded text-center mt-5">
        <h2 class="text-white bg-success m-3 rounded" style="font-size: 200px">{{count}}</h2>
        <div class="ml-3 mr-3 mb-3">
            <button (click)="pengurangan(formCount.controls['minimal'].value)" class="btn btn-outline-secondary btn-lg m-1"
                style="width:48%; font-size: 50px; color: black;">-</button>
            <button (click)="penjumlahan(formCount.controls['maksimal'].value)" class="btn btn-outline-secondary btn-lg m-1"
                style="width:48%; font-size: 50px; color:black">+</button>

        </div>
    </div>
</div>