<div>
    <nav class="navbar navbar-expand-lg " style="background-color: #54BAB9;" shadow-sm>
        <div class="container">
          <a class="navbar-brand" href="#">crowdWeb</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">@user161527</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    <div class="card p-3 mt-3">
    <h3 class="text-center">Add Knowledge</h3>
    <form class="row g-3">
        <div class="col-12">
          <label class="form-label"></label>
          <textarea formControlName="desc" class="form-control"></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn me-md-2 btn-danger" type="button">Delete</button>
          <button class="btn" style="background-color: #54BAB9;" type="button">Save</button>
        </div>
      </form>
    </div>
</div>