<div class = "container">
    <form class="card p-3 mt-5 mb-5" [formGroup]="formMessage">
        <h2 class="text-center">Formulir Kirim Pesan</h2>
        <div class="mb-3">
          <label for="inputnama">Name</label>
          <input formControlName="name" [class.is-invalid]="formMessage.controls['name']
          .invalid && formMessage.controls['name'].touched" type="text" class="form-control" 
          placeholder="Masukkan nama">
          <div *ngIf="formMessage.controls['name'].hasError('required')"
      class="invalid-feedback">Nama Harus Diisi</div>
        </div>
        <div class="mb-3">
          <label for="inpoutmessage">Message</label>
          <input formControlName="message" [class.is-invalid]="formMessage.controls['message']
          .invalid && formMessage.controls['message'].touched" type="text" class="form-control" 
          placeholder="Masukkan pesan anda">
          <div *ngIf="formMessage.controls['message'].hasError('required')"
      class="invalid-feedback">Pesan Harus Diisi</div>
        </div>
        <button (click)="sendMessage()" type="button" class="btn btn-primary">Kirim</button>
      </form>
      <app-child [messageFromParent]="messageToChild" (messageToParent)="acceptMessage($event)"></app-child>
</div>



