<div>
  <h3 class="text-center">List Example</h3>
  <button class="btn btn-success text-white mb-3" [routerLink]="['/','example','tambah']">
    <svg [cIcon]="icons.cilPlus" size="l" title="Plus Icon"></svg>
     Tambah
  </button>
  <table class="table table-bordered border-dark bg-white">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let example of listExample; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{example.nama}}</td>
      <td>{{example.role}}</td>
      <td>
        <button class="btn btn-sm btn-success text-white  m-1">
          <svg [cIcon]="icons.cilList" size="l" title="List Icon"></svg>
        </button>
        <button class="btn btn-sm  btn-danger text-white m-1">
          <svg [cIcon]="icons.cilTrash" size="l" title="Trash Icon"></svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
