.head-table {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(173, 180, 195) 90%);
}

.table {
    border-color:#7a1b92;
    border-style: groove;
    border-width: 5px;
}
.text-center{
    background: -webkit-linear-gradient(#7a1b92, rgb(173, 180, 195));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background-image: linear-gradient(to right, #7a1b92 0%, rgb(173, 180, 195) 90%);
}